html,
body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.box {
  width: 100%;
  height: 100px;
  background: lavenderblush;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid #777171;
  outline: 0;
}

.box .bg {
  background: lightcoral;
  color: #fff;
}
